/* screen - current-chat */

.current-chat {
  background-color: var(--aqua-haze);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.current-chat .bar-title-3RU9MG {
  background-color: transparent;
  height: 22px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 19px;
  width: calc(100.00% - 46px);
}
.current-chat .base-Aix87U {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-C698dA {
  background-color: transparent;
  height: 161.86%;
  left: -52.96%;
  object-fit: cover;
  position: absolute;
  top: -20.62%;
  width: 205.92%;
}
.current-chat .base-Ea04th {
  background-color: transparent;
  height: 132.88%;
  left: -2.94%;
  object-fit: cover;
  position: absolute;
  top: -10.96%;
  width: 105.88%;
}
.current-chat .base-G5gIQj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-K2ErQM {
  background-color: transparent;
  height: 88.12%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 100%;
}
.current-chat .base-LgPFYY {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-MWSCBy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-ScHTxZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-TWMQzg {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-W6WzsC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-de2r35 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-ijqXaA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-j7y2p0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-qYMxIX {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-qx3FjC {
  background-color: transparent;
  height: 67px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 67px;
}
.current-chat .base-vkbdQ8 {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-wR4Vp9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-wdiT73 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-xWRnyg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .base-zbC5x4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .caret-K2ErQM {
  background-color: transparent;
  height: 9px;
  left: calc(10.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 20px;
}
.current-chat .caret-LgPFYY {
  background-color: transparent;
  bottom: 0px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 9px;
}
.current-chat .caret-TWMQzg {
  background-color: transparent;
  bottom: 0px;
  height: 18px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 9px;
}
.current-chat .caret-qYMxIX {
  background-color: transparent;
  bottom: 0px;
  height: 18px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 9px;
}
.current-chat .caret-vkbdQ8 {
  background-color: transparent;
  bottom: 0px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 9px;
}
.current-chat .chat-message-LgPFYY {
  background-color: transparent;
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
  height: 60px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  top: 10px;
  width: calc(100.00% - 30px);
}
.current-chat .chat-message-TWMQzg {
  background-color: transparent;
  height: 69px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 87.50%;
}
.current-chat .chat-message-qYMxIX {
  background-color: transparent;
  height: 69px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 87.50%;
}
.current-chat .chat-message-vkbdQ8 {
  background-color: transparent;
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
  height: 60px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  opacity: 0.86;
  position: absolute;
  text-align: left;
  top: 10px;
  width: calc(100.00% - 30px);
}
.current-chat .component-card-bal-light-title-MhPEkZ {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-bal-light-title-OcKxjD {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-bal-light-title-T0IrPW {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-bal-light-title-W6WzsC {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-bal-light-title-de2r35 {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-bal-light-title-ijqXaA {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-ght-description-0x4DUo {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-ght-description-LHwXmd {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-ght-description-UN5eev {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-ght-description-W6WzsC {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-ght-description-de2r35 {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-ght-description-ijqXaA {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-ght-description-j7y2p0 {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-ght-description-retcnt {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-ght-description-wKHPf2 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.current-chat .component-card-ght-description-wR4Vp9 {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.current-chat .component-card-hart-title-text-MGGDoP {
  background-color: transparent;
  height: 88px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-9WAm8b {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-9WAm8b:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-card-place-card-fill-GwiyxW {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-GwiyxW:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-card-place-card-fill-M7Z7wx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-QiYltZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-Urjyxk {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-Urjyxk:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-card-place-card-fill-Z3WJ58 {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-Z3WJ58:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-card-place-card-fill-cich1u {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-tRnD1H {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-txWtMC {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-txWtMC:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-card-place-card-fill-xQTt3I {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-xxUUwa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-card-place-card-fill-zjc3Gh {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 346px;
}
.current-chat .component-card-place-card-fill-zjc3Gh:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.current-chat .component-chart-ace-donut-chart-C61RwL {
  background-color: transparent;
  height: 776px;
  left: 1107px;
  position: absolute;
  top: 154px;
  width: 453px;
}
.current-chat .component-chart-ace-donut-chart-ki4idv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-chart-ator-horizontal-C698dA {
  background-color: transparent;
  height: 0px;
  left: 5.00%;
  position: absolute;
  top: 84.81%;
  width: 90.00%;
}
.current-chat .component-chart-ator-horizontal-nKJ6RA {
  background-color: transparent;
  background-image: url(../img/seprator@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-chart-bar-title-2JZCps {
  background-color: transparent;
  height: 90px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.47%;
}
.current-chat .component-chart-lobal-title-bar-C698dA {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.current-chat .component-chart-lobal-title-bar-Uimb1q {
  background-color: transparent;
  background-image: url(../img/fill-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-chart-title-text-C698dA {
  background-color: transparent;
  height: 11.34%;
  left: 20px;
  position: absolute;
  top: 80px;
  width: 93.33%;
}
.current-chat .component-heade-global-nav-item-9115Dx {
  background-color: transparent;
  height: 20px;
  left: 38.34%;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 26.48%;
}
.current-chat .component-heade-global-nav-item-L5Zhlx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 69px;
}
.current-chat .component-heade-global-nav-item-Sp4knt {
  background-color: transparent;
  height: 20px;
  left: 76.68%;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 23.32%;
}
.current-chat .component-heade-global-nav-item-a6SLZt {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 61px;
}
.current-chat .component-heade-global-nav-item-aI4v3Y {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 69px;
}
.current-chat .component-heade-global-nav-item-rDnUzp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 26.48%;
}
.current-chat .component-heade-lace-web-header-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 360px;
  position: absolute;
  top: 76px;
  width: 1200px;
}
.current-chat .component-heade-lace-web-header-fKQF6J {
  background-color: transparent;
  background-image: url(../img/base@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-heade-obal-navigation-W4A8Nw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .component-heade-obal-navigation-bdw52J {
  background-color: transparent;
  height: 33.33%;
  left: 832px;
  position: absolute;
  top: 33.33%;
  width: 253px;
}
.current-chat .contextual-subheading-2JZCps {
  background-color: transparent;
  bottom: calc(23.81% - 6px);
  color: rgba(114,129,145,1.0);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 25px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.current-chat .controls-text-field-C61RwL {
  background-color: transparent;
  height: 73px;
  left: 1130px;
  position: absolute;
  top: 832px;
  width: 408px;
}
.current-chat .controls-text-field-normal-MNlqKi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-avatar-round-profile-C61RwL {
  background-color: transparent;
  height: 43px;
  left: 1486px;
  position: absolute;
  top: 85px;
  width: 43px;
}
.current-chat .elements-avatar-round-profile-qx3FjC {
  background-color: transparent;
  height: 43px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 43px;
}
.current-chat .elements-avatar-round-profile-qx3FjC:hover {

transform: scale(1.1);
}
.current-chat .elements-chat-b-ght-bottom-left-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 1143px;
  position: absolute;
  top: 512px;
  width: 240px;
}
.current-chat .elements-chat-b-ght-bottom-left-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 1143px;
  position: absolute;
  top: 703px;
  width: 240px;
}
.current-chat .elements-chat-b-ght-bottom-left-jGxdro {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-chat-b-ght-bottom-left-xCBAx4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-chat-b-ry-bottom-right-C61RwL {
  background-color: transparent;
  height: 88px;
  left: 1280px;
  position: absolute;
  top: 416px;
  width: 240px;
}
.current-chat .elements-chat-b-ry-bottom-right-VMr6Om {
  background-color: transparent;
  height: 71px;
  left: 1289px;
  position: absolute;
  top: 624px;
  width: 240px;
}
.current-chat .elements-chat-b-ry-bottom-right-smvySe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-chat-b-ry-bottom-right-wkx7tE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-popover-accent-top-7lxsMP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .elements-popover-accent-top-C61RwL {
  background-color: transparent;
  height: 77px;
  left: 1143px;
  position: absolute;
  top: 322px;
  width: 180px;
}
.current-chat .flex-col-mrdmCX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -37.0px;
  min-height: 1018px;
  position: relative;
  width: 346px;
}
.current-chat .flex-col-nVb0xz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -37.0px;
  margin-left: 32px;
  min-height: 1018px;
  position: relative;
  width: 346px;
}
.current-chat .flex-col-p2pFTD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -37.0px;
  margin-left: 32px;
  min-height: 1018px;
  position: relative;
  width: 346px;
}
.current-chat .icon-G5gIQj {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .icon-W6WzsC {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .icon-comment-8AQ49U {
  background-color: transparent;
  bottom: 4px;
  height: 20px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}
.current-chat .icon-comment-9g6vfS {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-comment-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 1494px;
  pointer-events: auto;
  position: absolute;
  top: 853px;
  transition: all 0.2s ease;
  width: 30px;
}
.current-chat .icon-comment-C61RwL:hover {

transform: scale(1.1);
}
.current-chat .icon-de2r35 {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .icon-ijqXaA {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .icon-j7y2p0 {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .icon-more-8syz7Y {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-more-BPxmid {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-more-D0XlpB {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-more-DBHe8v {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-OYxhxF {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-more-cRxV9m {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-more-fiCOg3 {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-jHZp3o {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-q1wJUy {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-rbsea9 {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-t2CLsM {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.current-chat .icon-more-zwsH1x {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.current-chat .icon-wR4Vp9 {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.current-chat .info-K2ErQM {
  background-color: transparent;
  height: 54.42%;
  left: 16px;
  position: absolute;
  top: 25px;
  width: calc(100.00% - 32px);
}
.current-chat .logo-type-dark-LeOJHj {
  background-color: transparent;
  background-image: url(../img/monogram@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 89.29%;
  left: 0px;
  position: absolute;
  top: 7.14%;
  width: 22.81%;
}
.current-chat .logo-type-dark-bdw52J {
  background-color: transparent;
  height: 28px;
  left: 16px;
  position: absolute;
  top: calc(50.00% - 14px);
  width: 114px;
}
.current-chat .mask-8AQ49U {
  background-color: transparent;
  height: 66.68%;
  left: 13.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 73.33%;
}
.current-chat .mask-8syz7Y {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .mask-Aix87U {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-BPxmid {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .mask-D0XlpB {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .mask-MWSCBy {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-OYxhxF {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .mask-ScHTxZ {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-cRxV9m {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .mask-wdiT73 {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-xWRnyg {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-zbC5x4 {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.current-chat .mask-zwsH1x {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.current-chat .placeholder-Ea04th {
  background-color: transparent;
  height: 45px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: calc(100.00% - 71px);
}
.current-chat .repeat-grid-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1030px;
  justify-content: flex-end;
  left: 288px;
  min-width: 819px;
  position: absolute;
  top: 108px;
  width: auto;
}
.current-chat .rev-kit-LeOJHj {
  background-color: transparent;
  height: 82.14%;
  left: 28.95%;
  object-fit: cover;
  position: absolute;
  top: 3.57%;
  width: 69.30%;
}
.current-chat .title-RvicGV {
  background-color: transparent;
  color: var(--white);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 101.35%;
}
.current-chat .x02-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.current-chat .x12-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.current-chat .x22-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.current-chat .x31-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.current-chat .x41-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.current-chat .x51-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.ibmplexsans-bold-charade-34px {
  color: var(--charade);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-bold-white-28px {
  color: var(--white);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-medium-aqua-haze-16px {
  color: var(--aqua-haze);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-medium-storm-gray-16px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-normal-cerulean-frost-16px {
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-charade-16px {
  color: var(--charade);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-steel-blue-16px {
  color: var(--steel-blue);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-storm-gray-14px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-white-16px {
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
:root {
  --aqua-haze: rgba(235,244,248,1.0);
  --cerulean-frost: rgba(124,156,191,1.0);
  --charade: rgba(44,39,56,1.0);
  --steel-blue: rgba(8,128,174,1.0);
  --storm-gray: rgba(117,111,134,1.0);
  --white: rgba(255,255,255,1.0);
}
