/* screen - reset-password */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.ibmplexsans-bold-charade-34px {
  color: var(--charade);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-bold-white-28px {
  color: var(--white);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-medium-aqua-haze-16px {
  color: var(--aqua-haze);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-medium-storm-gray-16px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-normal-cerulean-frost-16px {
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-charade-16px {
  color: var(--charade);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-steel-blue-16px {
  color: var(--steel-blue);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-storm-gray-14px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-white-16px {
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.reset-password {
  background-color: var(--aqua-haze);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.reset-password .base-C61RwL {
  background-color: transparent;
  height: 746px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 652px;
}
.reset-password .base-H3ri59 {
  background-color: transparent;
  height: 144.44%;
  left: -20.87%;
  object-fit: cover;
  position: absolute;
  top: -14.81%;
  width: 141.74%;
}
.reset-password .base-WxnRLA {
  background-color: transparent;
  height: 80px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 424px;
}
.reset-password .base-vRwsJ7 {
  background-color: transparent;
  height: 146.15%;
  left: -3.00%;
  object-fit: cover;
  position: absolute;
  top: -15.38%;
  width: 106.00%;
}
.reset-password .button-WxnRLA {
  background-color: transparent;
  height: auto;
  left: 141px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.reset-password .component-form-bal-description-H3ri59 {
  background-color: transparent;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 92px;
  width: calc(100.00% - 60px);
}
.reset-password .component-form-bal-description-qxZFy3 {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -7.69%;
  width: calc(100.00% + 2px);
}
.reset-password .component-form-global-link-A8xxsz {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}
.reset-password .component-form-global-link-H3ri59 {
  background-color: transparent;
  bottom: 40px;
  height: 26px;
  left: 30px;
  position: absolute;
  width: calc(100.00% - 60px);
}
.reset-password .component-form-global-link-QxHVT5 {
  background-color: transparent;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 118px;
  width: calc(100.00% - 60px);
}
.reset-password .component-form-global-link-tbEFTU {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}
.reset-password .component-form-global-title-H3ri59 {
  background-color: transparent;
  height: 44px;
  left: 30px;
  position: absolute;
  top: 40px;
  width: calc(100.00% - 60px);
}
.reset-password .component-form-global-title-kv40Eu {
  background-color: transparent;
  height: 46px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.reset-password .component-form-reset-password-C61RwL {
  background-color: transparent;
  height: 432px;
  left: 988px;
  position: absolute;
  top: 164px;
  width: 460px;
}
.reset-password .component-form-reset-password-YjyU4j {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .component-heade-global-nav-item-IxTgWW {
  background-color: transparent;
  height: 22px;
  left: calc(400.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 42px;
}
.reset-password .component-heade-global-nav-item-mxoZ1G {
  background-color: transparent;
  height: 66.67%;
  left: 43.59%;
  position: absolute;
  top: 16.67%;
  width: 56.41%;
}
.reset-password .component-heade-ive-header-copy-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 472px;
  position: absolute;
  top: 84px;
  width: 460px;
}
.reset-password .component-heade-ponsive-trigger-elyEUS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .component-heade-ponsive-trigger-tHI9HX {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 16px;
  top: calc(50.00% - 15px);
  width: 78px;
}
.reset-password .component-heade-sponsive-header-CkLYbh {
  background-color: transparent;
  background-image: url(../img/base-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .controls-button-H3ri59 {
  background-color: transparent;
  bottom: calc(23.94% - 13px);
  height: 56px;
  left: 30px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 60px);
}
.reset-password .controls-button-H3ri59:hover {

transform: scale(1.02);
}
.reset-password .controls-button-e-accent-normal-oA7WPK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .controls-global-label-LLgqBm {
  background-color: transparent;
  height: 83.33%;
  left: -2px;
  position: relative;
  top: 0px;
  width: 11.39%;
}
.reset-password .controls-global-label-xiMT3L {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 360px;
}
.reset-password .controls-place-text-field-H3ri59 {
  background-color: transparent;
  height: 80px;
  left: 30px;
  position: absolute;
  top: 172px;
  width: calc(100.00% - 60px);
}
.reset-password .controls-place-text-field-J4yCJX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 100%;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .controls-text-field-normal-ecttcx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .controls-text-field-xiMT3L {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  margin-top: 4px;
  position: relative;
  width: 400px;
}
.reset-password .icon-menu-pDsVjJ {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .icon-menu-toIDGu {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 8px);
  top: calc(50.00% - 6px);
  width: 16px;
}
.reset-password .icon-mxoZ1G {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38.46%;
}
.reset-password .label-QvJq4J {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}
.reset-password .logo-type-dark-WsgA5a {
  background-color: transparent;
  background-image: url(../img/monogram@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.reset-password .logo-type-dark-tHI9HX {
  background-color: transparent;
  bottom: calc(48.57% - 12px);
  height: 25px;
  left: 16px;
  position: absolute;
  width: 26px;
}
.reset-password .mask-toIDGu {
  background-color: transparent;
  height: 40.00%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 30.00%;
  width: 53.33%;
}
.reset-password .placeholder-vRwsJ7 {
  background-color: transparent;
  height: 22px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: calc(100.00% - 71px);
}
:root {
  --aqua-haze: rgba(235,244,248,1.0);
  --cerulean-frost: rgba(124,156,191,1.0);
  --charade: rgba(44,39,56,1.0);
  --steel-blue: rgba(8,128,174,1.0);
  --storm-gray: rgba(117,111,134,1.0);
  --white: rgba(255,255,255,1.0);
}
