<head>
    <style>
        body {
            font-family: 'IBMPlexSans', Helvetica;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center
        }
    </style>
    <meta http-equiv = "refresh" content = "3 ; url = {% url 'breakconnect:home' %}"/>
</head>


<body style="margin: 0; background: rgba(235, 244, 248, 1)"></body>
    <div>
        <h2>Thanks for visiting!</h2>
        <h3>
            You have been signed out.<br>
            <!-- <a class="ml-2" href="{% url 'sign-in' %}">Sign In Again</a> -->
        </h3>
        <h4>
            <a class="ml-2" href="{% url 'breakconnect:home' %}">Redirecting...</a>
        </h4>
    </div>
    
    <div>
        
    </div>

    
   
</body>