/* screen - sign-in */

.ibmplexsans-bold-charade-34px {
  color: var(--charade);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-bold-white-28px {
  color: var(--white);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-medium-aqua-haze-16px {
  color: var(--aqua-haze);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-medium-storm-gray-16px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-normal-cerulean-frost-16px {
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-charade-16px {
  color: var(--charade);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-steel-blue-16px {
  color: var(--steel-blue);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-storm-gray-14px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-white-16px {
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.sign-in {
  background-color: var(--aqua-haze);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.sign-in .base-9ExXe4 {
  background-color: transparent;
  height: 80px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 424px;
}
.sign-in .base-C61RwL {
  background-color: transparent;
  height: 746px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 652px;
}
.sign-in .base-HVzydu {
  background-color: transparent;
  height: 146.15%;
  left: -3.00%;
  object-fit: cover;
  position: absolute;
  top: -15.38%;
  width: 106.00%;
}
.sign-in .base-g0kJNi {
  background-color: transparent;
  height: 146.15%;
  left: -3.00%;
  object-fit: cover;
  position: absolute;
  top: -15.38%;
  width: 106.00%;
}
.sign-in .base-r0SCOi {
  background-color: transparent;
  height: 134.66%;
  left: -20.87%;
  object-fit: cover;
  position: absolute;
  top: -11.55%;
  width: 141.74%;
}
.sign-in .button-9ExXe4 {
  background-color: transparent;
  height: auto;
  left: 174px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.sign-in .component-form-bal-description-r0SCOi {
  background-color: transparent;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 92px;
  width: calc(100.00% - 60px);
}
.sign-in .component-form-bal-description-uWcj2v {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -7.69%;
  width: calc(100.00% + 2px);
}
.sign-in .component-form-global-link-kiik8h {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}
.sign-in .component-form-global-link-oKAFI6 {
  background-color: transparent;
  height: 26px;
  left: 30px;
  position: absolute;
  top: 118px;
  width: calc(100.00% - 60px);
}
.sign-in .component-form-global-link-r0SCOi {
  background-color: transparent;
  bottom: 40px;
  height: 26px;
  left: 30px;
  position: absolute;
  width: calc(100.00% - 60px);
}
.sign-in .component-form-global-link-tFoBe0 {
  background-color: transparent;
  height: 28px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}
.sign-in .component-form-global-title-AUMQBQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.sign-in .component-form-global-title-r0SCOi {
  background-color: transparent;
  height: 44px;
  left: 30px;
  position: absolute;
  top: 40px;
  width: calc(100.00% - 60px);
}
.sign-in .component-form-place-sign-in-C61RwL {
  background-color: transparent;
  height: 554px;
  left: 988px;
  position: absolute;
  top: 164px;
  width: 460px;
}
.sign-in .component-heade-global-nav-item-IxTgWW {
  background-color: transparent;
  height: 22px;
  left: calc(400.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 42px;
}
.sign-in .component-heade-global-nav-item-mxoZ1G {
  background-color: transparent;
  height: 66.67%;
  left: 43.59%;
  position: absolute;
  top: 16.67%;
  width: 56.41%;
}
.sign-in .component-heade-ive-header-copy-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 472px;
  position: absolute;
  top: 84px;
  width: 460px;
}
.sign-in .component-heade-ponsive-trigger-elyEUS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .component-heade-ponsive-trigger-tHI9HX {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 16px;
  top: calc(50.00% - 15px);
  width: 78px;
}
.sign-in .component-heade-sponsive-header-CkLYbh {
  background-color: transparent;
  background-image: url(../img/base-5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-button-e-accent-normal-wG9ECl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-button-r0SCOi {
  background-color: transparent;
  bottom: 90px;
  height: 56px;
  left: 30px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 60px);
}
.sign-in .controls-button-r0SCOi:hover {

transform: scale(1.02);
}
.sign-in .controls-global-label-26ax0i {
  background-color: transparent;
  height: 83.33%;
  left: -2px;
  position: relative;
  top: 0px;
  width: 11.39%;
}
.sign-in .controls-global-label-ABk3yf {
  background-color: transparent;
  height: 83.33%;
  left: -4px;
  position: relative;
  top: 0px;
  width: 19.72%;
}
.sign-in .controls-global-label-XrNhcc {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 360px;
}
.sign-in .controls-global-label-s7Reux {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 360px;
}
.sign-in .controls-place-text-field-K9Ereo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 100%;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-place-text-field-ihy4zn {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 100%;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-place-text-field-oKAFI6 {
  background-color: transparent;
  height: 80px;
  left: 30px;
  position: absolute;
  top: 172px;
  width: calc(100.00% - 60px);
}
.sign-in .controls-place-text-field-r0SCOi {
  background-color: transparent;
  height: 80px;
  left: 30px;
  position: absolute;
  top: 286px;
  width: calc(100.00% - 60px);
}
.sign-in .controls-text-field-XrNhcc {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  margin-top: 4px;
  position: relative;
  width: 400px;
}
.sign-in .controls-text-field-normal-e6shCY {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-text-field-normal-fHxm8M {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .controls-text-field-s7Reux {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  margin-top: 4px;
  position: relative;
  width: 400px;
}
.sign-in .icon-menu-pDsVjJ {
  background-color: transparent;
  background-image: url(../img/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.sign-in .icon-menu-toIDGu {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 8px);
  top: calc(50.00% - 6px);
  width: 16px;
}
.sign-in .icon-mxoZ1G {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38.46%;
}
.sign-in .label-mq8v2T {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 73px;
}
.sign-in .label-zdZ5yG {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}
.sign-in .logo-type-dark-WsgA5a {
  background-color: transparent;
  background-image: url(../img/monogram@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 89.29%;
  left: 0px;
  position: absolute;
  top: 7.14%;
  width: 22.81%;
}
.sign-in .logo-type-dark-tHI9HX {
  background-color: transparent;
  height: 28px;
  left: 16px;
  position: absolute;
  top: calc(50.00% - 14px);
  width: 114px;
}
.sign-in .mask-toIDGu {
  background-color: transparent;
  height: 40.00%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 30.00%;
  width: 53.33%;
}
.sign-in .placeholder-HVzydu {
  background-color: transparent;
  height: 22px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: calc(100.00% - 71px);
}
.sign-in .placeholder-g0kJNi {
  background-color: transparent;
  height: 22px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: calc(100.00% - 71px);
}
.sign-in .rev-kit-WsgA5a {
  background-color: transparent;
  height: 82.14%;
  left: 28.95%;
  object-fit: cover;
  position: absolute;
  top: 3.57%;
  width: 69.30%;
}
:root {
  --aqua-haze: rgba(235,244,248,1.0);
  --cerulean-frost: rgba(124,156,191,1.0);
  --charade: rgba(44,39,56,1.0);
  --steel-blue: rgba(8,128,174,1.0);
  --storm-gray: rgba(117,111,134,1.0);
  --white: rgba(255,255,255,1.0);
}
