/* screen - start-break */

.ibmplexsans-bold-charade-34px {
  color: var(--charade);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-bold-white-28px {
  color: var(--white);
  font-family: 'IBMPlexSans-Bold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-medium-aqua-haze-16px {
  color: var(--aqua-haze);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-medium-storm-gray-16px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.ibmplexsans-normal-cerulean-frost-16px {
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-charade-16px {
  color: var(--charade);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-steel-blue-16px {
  color: var(--steel-blue);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-storm-gray-14px {
  color: var(--storm-gray);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: None;
}
.ibmplexsans-normal-white-16px {
  color: var(--white);
  font-family: 'IBMPlexSans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: None;
}
.start-break {
  background-color: var(--aqua-haze);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.start-break .bar-title-3RU9MG {
  background-color: transparent;
  height: 22px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 19px;
  width: calc(100.00% - 46px);
}
.start-break .base-1gSOvR {
  background-color: transparent;
  height: 76px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 204px;
}
.start-break .base-45bVoZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-8idqLe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-C698dA {
  background-color: transparent;
  height: 161.86%;
  left: -52.96%;
  object-fit: cover;
  position: absolute;
  top: -20.62%;
  width: 205.92%;
}
.start-break .base-Dqex3z {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-DxMUpf {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-I2bID8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-KevRBB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-MSAPuW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-PDQAbc {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-PhY80s {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-S6B9rJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-T6pSRx {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-TDVTXX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-WSPhQ8 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-X3b7Pr {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-XJtAJs {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-XnWr8Z {
  background-color: transparent;
  height: 80px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 204px;
}
.start-break .base-bsXevi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-fDWndv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-jdIbpF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-m5sDaM {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-p0mNsI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-qMxSqo {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-qx3FjC {
  background-color: transparent;
  height: 155.50%;
  left: -27.75%;
  object-fit: cover;
  position: absolute;
  top: -18.50%;
  width: 155.50%;
}
.start-break .base-tXJOxK {
  background-color: transparent;
  height: 76px;
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 204px;
}
.start-break .base-uVOaJJ {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-vKDJqZ {
  background-color: transparent;
  height: 122.74%;
  left: -3.01%;
  object-fit: cover;
  position: absolute;
  top: -7.58%;
  width: 106.01%;
}
.start-break .base-whzq2k {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .base-wnKpZ6 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .button-XnWr8Z {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.start-break .component-card-bal-light-title-02IEsm {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.start-break .component-card-bal-light-title-45bVoZ {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-bal-light-title-I2bID8 {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-bal-light-title-S6B9rJ {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-bal-light-title-ZeKCQc {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.start-break .component-card-bal-light-title-nVngua {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.start-break .component-card-bal-light-title-whzq2k {
  background-color: transparent;
  bottom: 76px;
  height: 8.60%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-bal-light-title-xTa7xx {
  background-color: transparent;
  height: 45px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-1kAH2H {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-45bVoZ {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-8idqLe {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-FpxE6u {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-G1WMKy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-Gv4IPy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-I2bID8 {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-MSAPuW {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-MqCY9y {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-P0lPCp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-PhY80s {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-S6B9rJ {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-WEoU18 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-XIIDV8 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-fDWndv {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-jdIbpF {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-kP5Sd2 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-p0mNsI {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-ght-description-pqXxRI {
  background-color: transparent;
  height: 53px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: -5.89%;
  width: calc(100.00% + 2px);
}
.start-break .component-card-ght-description-whzq2k {
  background-color: transparent;
  bottom: 23px;
  height: 10.23%;
  left: 20px;
  position: absolute;
  width: calc(100.00% - 40px);
}
.start-break .component-card-hart-title-text-MGGDoP {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-371fpd {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-4JxkQ4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-CP7E6q {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-JKg0Dj {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-K2tJMO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-Mb9ZGU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-N9d5mw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-WBFlDx {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-XRea6K {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-dPCHx7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-eSmzpk {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-gpo0Xg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-iim12n {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-jO7Jbx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-kz0gGj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-nZf04H {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-o0Sb3A {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-pBOcDB {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-vt7x2c {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-x1kc8k {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-x9eCJW {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-xscivW {
  background-color: transparent;
  flex-shrink: 1;
  height: 498px;
  position: relative;
  width: 346px;
}
.start-break .component-card-place-card-fill-yZRjJ3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-card-place-card-fill-yeotfJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-chart-ace-donut-chart-C61RwL {
  background-color: transparent;
  height: 776px;
  left: 1107px;
  position: absolute;
  top: 154px;
  width: 453px;
}
.start-break .component-chart-ace-donut-chart-ki4idv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-chart-ator-horizontal-3libMu {
  background-color: transparent;
  background-image: url(../image/seprator@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 0.27%;
  left: 6px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 6px);
}
.start-break .component-chart-ator-horizontal-C698dA {
  background-color: transparent;
  height: 66.42%;
  left: 5.00%;
  position: absolute;
  top: 17.16%;
  width: 91.32%;
}
.start-break .component-chart-ator-horizontal-nKJ6RA {
  background-color: transparent;
  background-image: url(../image/seprator@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 0.27%;
  left: 0px;
  position: absolute;
  top: 99.73%;
  width: calc(100.00% - 6px);
}
.start-break .component-chart-bar-title-2JZCps {
  background-color: transparent;
  height: 50px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100.47%;
}
.start-break .component-chart-lobal-title-bar-C698dA {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.start-break .component-chart-lobal-title-bar-Uimb1q {
  background-color: transparent;
  background-image: url(../image/fill-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-chart-title-text-C698dA {
  background-color: transparent;
  height: 6.19%;
  left: 20px;
  position: absolute;
  top: 80px;
  width: 93.33%;
}
.start-break .component-heade-global-nav-item-9115Dx {
  background-color: transparent;
  height: 20px;
  left: 38.34%;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 26.48%;
}
.start-break .component-heade-global-nav-item-L5Zhlx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 69px;
}
.start-break .component-heade-global-nav-item-Sp4knt {
  background-color: transparent;
  height: 20px;
  left: 76.68%;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 23.32%;
}
.start-break .component-heade-global-nav-item-a6SLZt {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 61px;
}
.start-break .component-heade-global-nav-item-aI4v3Y {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10.00%;
  white-space: nowrap;
  width: 69px;
}
.start-break .component-heade-global-nav-item-rDnUzp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 26.48%;
}
.start-break .component-heade-lace-web-header-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 360px;
  position: absolute;
  top: 76px;
  width: 1200px;
}
.start-break .component-heade-lace-web-header-fKQF6J {
  background-color: transparent;
  background-image: url(../image/base-15@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-heade-obal-navigation-W4A8Nw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .component-heade-obal-navigation-bdw52J {
  background-color: transparent;
  height: 33.33%;
  left: 832px;
  position: absolute;
  top: 33.33%;
  width: 253px;
}
.start-break .controls-button-e-accent-normal-C61RwL {
  background-color: transparent;
  height: 56px;
  left: 1243px;
  pointer-events: auto;
  position: absolute;
  top: 832px;
  transition: all 0.2s ease;
  width: 180px;
}
.start-break .controls-button-e-accent-normal-C61RwL:hover {

transform: scale(1.02);
}
.start-break .controls-button-e-accent-normal-VXTxzx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .controls-global-label-SiAuXE {
  background-color: transparent;
  height: 14.55%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 47px;
}
.start-break .controls-global-label-lJQkl2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .controls-place-stepper-C61RwL {
  background-color: transparent;
  height: 52px;
  left: 1130px;
  position: absolute;
  top: 380px;
  width: 180px;
}
.start-break .controls-place-stepper-Jl4hgB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  left: 0px;
  min-width: 100%;
  position: relative;
  top: 0px;
  width: auto;
}
.start-break .controls-place-stepper-Otyh26 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  left: 0px;
  min-width: 100%;
  position: relative;
  top: 0px;
  width: auto;
}
.start-break .controls-place-stepper-VMr6Om {
  background-color: transparent;
  height: 52px;
  left: 1130px;
  position: absolute;
  top: 532px;
  width: 180px;
}
.start-break .controls-place-text-area-C61RwL {
  background-color: transparent;
  height: 137px;
  left: 1130px;
  position: absolute;
  top: 615px;
  width: 399px;
}
.start-break .controls-place-text-area-W02MGx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .controls-stepper-LrsMw8 {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  position: relative;
  width: 180px;
}
.start-break .controls-stepper-ZExxYQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 52px;
  position: relative;
  width: 180px;
}
.start-break .controls-stepper-normal-0nqyaa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .controls-stepper-pressed-right-BhqUMw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .controls-text-area-SiAuXE {
  background-color: transparent;
  height: calc(100.00% - 32px);
  left: 1px;
  position: absolute;
  top: 32px;
  width: 99.99%;
}
.start-break .controls-text-area-placeholder-KQMZTh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .description-C698dA {
  background-color: transparent;
  bottom: calc(18.77% - 4px);
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans-Medium', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 58px);
}
.start-break .elements-avatar-round-profile-C61RwL {
  background-color: transparent;
  height: 43px;
  left: 1486px;
  pointer-events: auto;
  position: absolute;
  top: 85px;
  transition: all 0.2s ease;
  width: 43px;
}
.start-break .elements-avatar-round-profile-C61RwL:hover {

transform: scale(1.1);
}
.start-break .elements-avatar-round-profile-qx3FjC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100.00%;
}
.start-break .flex-col-mrdmCX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -486.0px;
  min-height: 2060px;
  position: relative;
  width: 346px;
}
.start-break .flex-col-nVb0xz {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -486.0px;
  margin-left: 32px;
  min-height: 2060px;
  position: relative;
  width: 346px;
}
.start-break .flex-col-p2pFTD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: -486.0px;
  margin-left: 32px;
  min-height: 2060px;
  position: relative;
  width: 346px;
}
.start-break .icon-3AQZ7t {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.start-break .icon-45bVoZ {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-8idqLe {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-I2bID8 {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-KevRBB {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-MSAPuW {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-NLRETS {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.start-break .icon-PhY80s {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-S6B9rJ {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-SPfpLP {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.start-break .icon-add-8K75xD {
  background-color: transparent;
  bottom: calc(50.00% - 8px);
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 8px);
  width: 16px;
}
.start-break .icon-add-Fxz5Rv {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-add-Lovtys {
  background-color: transparent;
  bottom: calc(50.00% - 8px);
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 8px);
  width: 16px;
}
.start-break .icon-add-v8yzcE {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-bsXevi {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-fDWndv {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-jdIbpF {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-minus-9Ee9vO {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-minus-DAb1kZ {
  background-color: transparent;
  height: 2px;
  left: calc(50.00% - 8px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: 16px;
}
.start-break .icon-minus-H7Lcu9 {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-minus-Yljvch {
  background-color: transparent;
  height: 2px;
  left: calc(50.00% - 8px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 1px);
  width: 16px;
}
.start-break .icon-more-1THJSQ {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-5GEkI6 {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-6sVoF2 {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-7B8wEb {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-7nv1YF {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-99yzaK {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-9cbUCy {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-A36p8t {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-BGM48X {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-Ewn4tr {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-ILw5bz {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-K0PVYk {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-Nmm8BK {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-O4CyCB {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-SBqIfd {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-VF78vX {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-WTdtMF {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-Y1O9jG {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-jfvC1V {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-neRJxt {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-sFjcZW {
  background-color: transparent;
  background-image: url(../image/grid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.start-break .icon-more-vN55Eq {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-wQOKcN {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-more-x7jY0u {
  background-color: transparent;
  height: 18px;
  left: calc(50.00% - 2px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 4px;
}
.start-break .icon-p0mNsI {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-whzq2k {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 16px;
  width: 30px;
}
.start-break .icon-xnlDRE {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.start-break .label-lM6Gbi {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 49px;
}
.start-break .logo-type-dark-LeOJHj {
  background-color: transparent;
  background-image: url(../image/monogram@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 89.29%;
  left: 0px;
  position: absolute;
  top: 7.14%;
  width: 22.81%;
}
.start-break .logo-type-dark-bdw52J {
  background-color: transparent;
  height: 28px;
  left: 16px;
  position: absolute;
  top: calc(50.00% - 14px);
  width: 114px;
}
.start-break .lt-1gSOvR {
  align-items: center;
  background-color: transparent;
  background-image: url(../image/base-69@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: flex-end;
  left: 0px;
  min-width: 60px;
  padding: 0 14.5px;
  position: absolute;
  top: 0px;
  width: auto;
}
.start-break .lt-tXJOxK {
  align-items: center;
  background-color: transparent;
  background-image: url(../image/base-69@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: flex-end;
  left: 0px;
  min-width: 60px;
  padding: 0 14.5px;
  position: absolute;
  top: 0px;
  width: auto;
}
.start-break .mask-1THJSQ {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-5GEkI6 {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-8K75xD {
  background-color: transparent;
  height: 53.33%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 23.33%;
  width: 53.33%;
}
.start-break .mask-9cbUCy {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-BGM48X {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-DAb1kZ {
  background-color: transparent;
  height: 6.67%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 46.67%;
  width: 53.33%;
}
.start-break .mask-Dqex3z {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-DxMUpf {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-Lovtys {
  background-color: transparent;
  height: 53.33%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 23.33%;
  width: 53.33%;
}
.start-break .mask-Nmm8BK {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-O4CyCB {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-PDQAbc {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-T6pSRx {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-TDVTXX {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-VF78vX {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-WSPhQ8 {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-X3b7Pr {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-XJtAJs {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-Y1O9jG {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-Yljvch {
  background-color: transparent;
  height: 6.67%;
  left: 23.33%;
  object-fit: cover;
  position: absolute;
  top: 46.67%;
  width: 53.33%;
}
.start-break .mask-m5sDaM {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-neRJxt {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-qMxSqo {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-uVOaJJ {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-vN55Eq {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-wQOKcN {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .mask-wnKpZ6 {
  background-color: transparent;
  height: 128.94%;
  left: -20.82%;
  object-fit: cover;
  position: absolute;
  top: -9.65%;
  width: 141.64%;
}
.start-break .mask-x7jY0u {
  background-color: transparent;
  height: 60.00%;
  left: 43.33%;
  object-fit: cover;
  position: absolute;
  top: 20.00%;
  width: 13.33%;
}
.start-break .placeholder-vKDJqZ {
  background-color: transparent;
  height: 76px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 16px;
  width: calc(100.00% - 30px);
}
.start-break .repeat-grid-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1622px;
  justify-content: flex-end;
  left: 288px;
  min-width: 819px;
  position: absolute;
  top: 108px;
  width: auto;
}
.start-break .rev-kit-LeOJHj {
  background-color: transparent;
  height: 82.14%;
  left: 28.95%;
  object-fit: cover;
  position: absolute;
  top: 3.57%;
  width: 69.30%;
}
.start-break .rt-1gSOvR {
  align-items: center;
  background-color: transparent;
  background-image: url(../image/base-69@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: flex-start;
  left: 120px;
  min-width: 60px;
  padding: 0 14.5px;
  position: absolute;
  top: 0px;
  width: auto;
}
.start-break .rt-tXJOxK {
  align-items: center;
  background-color: transparent;
  background-image: url(../image/base-73@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 52px;
  justify-content: flex-start;
  left: 120px;
  min-width: 60px;
  padding: 0 14.5px;
  position: absolute;
  top: 0px;
  width: auto;
}
.start-break .type-muted-heading-x5-C61RwL {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans-SemiBold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1130px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 315px;
  white-space: nowrap;
  width: auto;
}
.start-break .type-muted-heading-x5-VMr6Om {
  background-color: transparent;
  color: var(--cerulean-frost);
  font-family: 'IBMPlexSans-SemiBold', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1130px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 467px;
  white-space: nowrap;
  width: auto;
}
.start-break .x01-1gSOvR {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: auto;
}
.start-break .x01-tXJOxK {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: auto;
}
.start-break .x03-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x10-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x111-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x13-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x23-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x32-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x42-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x52-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x6-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x7-xexdMT {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x8-yGchdr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
.start-break .x9-0CBWsV {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 498px;
  justify-content: flex-start;
  margin-top: 23px;
  min-width: 346px;
  position: relative;
  width: auto;
}
:root {
  --aqua-haze: rgba(235,244,248,1.0);
  --cerulean-frost: rgba(124,156,191,1.0);
  --charade: rgba(44,39,56,1.0);
  --steel-blue: rgba(8,128,174,1.0);
  --storm-gray: rgba(117,111,134,1.0);
  --white: rgba(255,255,255,1.0);
}
